<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/icons/wikipedia.png" style="width:40px" alt="Wiki">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Home</a>
        <a href="#" class="nav-item nav-link">Profile</a>
        <a href="#" class="nav-item nav-link">Users</a>
        <a href="#" class="nav-item nav-link">Roles</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link" routerLink="/auth/sign-in">Sign In</a>
        <a class="nav-item nav-link" routerLink="/auth/sign-up">Sign Up</a>
      </div>
    </div>
  </div>
</nav>
